<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Admin Dashboard | Quick Credit</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">   
   <link rel="stylesheet" href="../css/style.css">
</head>
<body>
 <main id="main-application">
     
  <div class="container">
   <div class="container-title">
      <h1>Welcome, admin</h1>
   </div>
   <div class="container-content">
      <div class="content-title">
         <h2>Here are your tools</h2>
      </div>
      <div class="content-action">
         <div>
            <a href="verify.html"><button class="color-btn">Verify user</button></a>
            <a href="loan-application-x.html"><button class="color-btn">Approve/Reject app</button></a>
            <a href="applications.html"><button class="color-btn">View loans</button></a>
            <a href="postLoan.html"><button class="color-btn">Post loan</button></a>
         </div> 
         <div class="usr-sign-out">
            <p>or</p>
            <p><a href="../index.html"><button class="color-btn">Sign out</button></a></p>
         </div>
      </div>
   </div>
  </div>
</main>

 <footer id="footer-application">
   <p>Code and design: <a href="www.abelmbula.com">Abel</a></p>
 </footer> 

 <script src="../js/app.js"></script>
 
</body>
</html>