<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Admin Sign In | Quick Credit</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">   
   <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <div class="">
        <form action="#">
            <h1>Admin zone</h1>
            
            <input type="email" placeholder="you@domaine.com" id="email" required>
            <div id="helpEmail" class="inputError"></div>
            <input type="password" placeholder="password" id="password" required>
            <div id="helpPassword" class="inputError"></div>

            <a href="../index.html">Not admin? Click here</a>
            
            <input type="submit" value="Sign In" id="adminCheck">
                    
        </form>
        </div>
    </div>
 <script src="../js/app.js"></script>
</body>
</html>