<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Loan Application | All</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">   
   <link rel="stylesheet" href="../css/style.css">
</head>
<body>
      <main id="main-application">

          <div class="container">
               <header>
                     <a href="./adminDash.html"><button class="color-btn" id="usr-dashboard">Dashboard</button></a>
                     <a href="../index.html"><button class="color-btn">Sign out</button></a>
                </header>
                <div class="container-title">
                   
                   <h1>Hello, Admin!</h1>
                </div>
                <div class="container-content">
                     <div class="content-title">
                           <h2>List of Loan Applications</h2>
                     </div>
                     <div class="content-action">

             <div id="loanFilters">
               <span>Browse by:</span>
               <button id="all" class="color-btn">All</button>
               <button id="currentLoans" class="color-btn">Current</button>
               <button id="paidLoans" class="color-btn">Repaid</button>
             </div>
             
             <div class="wrapper applicationXWrapper">
                 <table>
                    <caption id="numberLoans"></caption>
                     <thead>
                         <th>Client name</th>
                         <th>Amount</th>
                         <th>Date</th>
                     </thead>
                     <tbody id="listLoaners">
                         
                     </tbody>
                 </table>
             </div>
             </div>
            </div>
         </div>
      </main>
      <footer id="footer-application">
         <p>Code and design: <a href="www.abelmbula.com">Abel</a></p>
      </footer> 

        

 <script src="../js/data.js"></script>
 <scrip type="text/javascript" src="../js/app.js"></scrip>

</body>
</html>