<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Repayment history | Quick Credit</title>
   <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <main>
    <header>

        <nav class="navbar" role="navigation">
          <div><a class="mainHeader_logo" href="#">Quick Credit</a></div>
           <ul class="navLinks">
              <!--<li class="navItem"><a href="#">Borrow</a></li>
              <li class="navItem"><a href="#">About Us</a></li>-->
              
              <li class="navItem sign" id="signup"><a href="templates/signup.html">Sign Up</a></li>
              <li class="navItem sign"><a href="templates/signin.html">Sign In</a></li>
           </ul>
        </nav>
        
     </header>
     
     <div class="container">
        <aside id="loanSummary">
           yexpl
        </aside>
        <section id="loanHistory">
           d
           gh
        </section>
     </div>
        <footer>
        <p>Code and design: <a href="www.abelmbula.com">Abel</a></p>
     </footer>
  </main>
  
  <script type="application/javascript" src="js/main.js"></script>
  </main>
 <scrip src="../js/main.js"></scrip> 
</body>
</html>