<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Repayment history | Quick Credit</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">   
   <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <main>
     
     <div class="container">
        <header>
            <a href="./usrAccount.html"><button class="color-btn" id="usr-dashboard">Dashboard</button></a>
            <a href="../index.html"><button class="color-btn">Sign out</button></a>
       </header>
       <div id="loan_history">
        <aside id="loanSummary">
           <h1>Summary</h1>
           <div class="init_summary">
              <div><strong>Initial amount</strong><br><span class="amount_summary">$ 1500.00</span></div>
              <div><strong>Amount due</strong><br><span class="amount_summary">$ 500.00</span></div>
           </div>
           <div class="last_summary">
              <div><strong>Last payment done</strong><br><span class="amount_summary">$ 100.00</span> on date</div>
              <div><strong>Loan description</strong><br><span class="loan_description_summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit beatae illum, quas corrupti quasi molestias incidunt eos modi aperiam, excepturi nulla! Assumenda, adipisci, ad!</span></div>
           </div>
        </aside>
        <section id="loanHistory">
           <h1>History</h1>
           <div class="loan_history_details">
              <table class="table-container" aria-label="Loan Payment">
                  <caption>Your Payment History</caption>
                  <thead>
                    <tr class="flex-table header" role="rowgroup">
                      <th class="flex-row first" role="columnheader">#</th>
                      <th class="flex-row" role="columnheader">Amount (USD)</th>
                      <th class="flex-row first" role="columnheader">Date</th>
                    </tr>
                   
                  </thead>
                  <tbody>
                    <tr class="flex-table row" role="rowgroup">
                      <td class="flex-row first" role="cell">10</td>
                      <td class="flex-row" role="cell">100.00</td>
                      <td class="flex-row " role="cell">March 14, 2018 at 04:25:32 am</td>
                    </tr>
                    <tr class="flex-table row rowColor" role="rowgroup">
                        <td class="flex-row first" role="cell">9</td>
                        <td class="flex-row" role="cell">100.00</td>
                        <td class="flex-row " role="cell">March 14, 2018 at 04:25:32 am</td>
                      </tr>
                      <tr class="flex-table row" role="rowgroup">
                          <td class="flex-row first" role="cell">8</td>
                          <td class="flex-row" role="cell">100.00</td>
                          <td class="flex-row " role="cell">March 14, 2018 at 04:25:32 am</td>
                        </tr>
                        <tr class="flex-table row rowColor" role="rowgroup">
                            <td class="flex-row first" role="cell">7</td>
                            <td class="flex-row" role="cell">100.00</td>
                            <td class="flex-row " role="cell">March 14, 2018 at 04:25:32 am</td>
                          </tr>
                          <tr class="flex-table row" role="rowgroup">
                              <td class="flex-row first" role="cell">6</td>
                              <td class="flex-row" role="cell">100.00</td>
                              <td class="flex-row " role="cell">March 14, 2018 at 04:25:32 am</td>
                          </tr>
                          <tr class="flex-table row" role="rowgroup">
                              <td class="flex-row first" role="cell">5</td>
                              <td class="flex-row" role="cell">100.00</td>
                              <td class="flex-row " role="cell">March 14, 2018 at 04:25:32 am</td>
                            </tr>
                            <tr class="flex-table row rowColor" role="rowgroup">
                                <td class="flex-row first" role="cell">4</td>
                                <td class="flex-row" role="cell">100.00</td>
                                <td class="flex-row " role="cell">March 14, 2018 at 04:25:32 am</td>
                              </tr>
                              <tr class="flex-table row" role="rowgroup">
                                  <td class="flex-row first" role="cell">3</td>
                                  <td class="flex-row" role="cell">100.00</td>
                                  <td class="flex-row " role="cell">March 14, 2018 at 04:25:32 am</td>
                                </tr>
                                <tr class="flex-table row rowColor" role="rowgroup">
                                    <td class="flex-row first" role="cell">2</td>
                                    <td class="flex-row" role="cell">100.00</td>
                                    <td class="flex-row " role="cell">March 14, 2018 at 04:25:32 am</td>
                                  </tr>
                                  <tr class="flex-table row" role="rowgroup">
                                      <td class="flex-row first" role="cell">1</td>
                                      <td class="flex-row" role="cell">100.00</td>
                                      <td class="flex-row " role="cell">March 14, 2018 at 04:25:32 am</td>
                                  </tr>
                  </tbody>
                </table>
            </div>
        </section>
       
     </div>
   </div>
        <footer id="footer-color">
        <p>Code and design: <a href="www.abelmbula.com">Abel</a></p>
     </footer>
  </main>
  
  <script type="application/javascript" src="js/main.js"></script>

 <scrip src="../js/main.js"></scrip> 
</body>
</html>