<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Loan Application | X</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">   
   <link rel="stylesheet" href="../css/style.css">
</head>
<body>
      <main id="main-application">

          <div class="container">
               <header>
                     <a href="./adminDash.html"><button class="color-btn" id="usr-dashboard">Dashboard</button></a>
                     <a href="../index.html"><button class="color-btn">Sign out</button></a>
                </header>
                <div class="container-title">
                   
                   <h1>Hello, Admin!</h1>
                </div>
                <div class="container-content">
                     <div class="content-title">
                           <h2>Loan Application: Patience Kavira</h2>
                     </div>
                     <div class="content-action">
          
                     <div class="wrapper applicationXWrapper">
                        <div><strong>Requested amount:</strong><span class="applicationAmount">950 USD</span></div>
                           <div><strong>Description:</strong><br>
                              <div class="applicationDescription">Lorem ipsum dolor sit amet, consectetur 
                                 adipisicing elit. Ex neque officiis quam enim beatae non 
                                 ducimus aspernatur animi reiciendis harum, exercitationem atque dicta? 
                                 Ullam adipisci quibusdam similique quos inventore distinctio?
                              </div>

                           </div>
                           <div id="application-aproval">
                                 <button id="approve" class="approval">Approve</button>
                                 <button id="block" class="approval">Block</button>
                           </div>
                     </div>
                 </div>
               </div>
            </div>
      </main>

         <footer id="footer-application">
           <p>Code and design: <a href="www.abelmbula.com">Abel</a></p>
         </footer> 

 <script src="../js/data.js"></script>

</body>
</html>