<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Loan Application | X</title>
   <link rel="stylesheet" href="../css/style.css">
</head>
<body>
      <main id="main-application">
            <header>
                <div class="container">

                <nav class="navbar" role="navigation">
                  <div><a class="mainHeader_logo" href="../index.html">Quick Credit</a></div>
                   <ul class="navLinks">
                      <li class="navItem"><a href="#" title="Verify clients">Clients</a></li>
                      <li class="navItem" id="activeItem"><a href="#" title="Browse all applications">Applications</a></li>
                      <li class="navItem"><a href="#" title="Browse all loans">Loans</a></li>
                      <li class="userProfile">
                       <a href="" title="Hello, admin"><img src="../images/avatar.png" alt="borrower"></a> 
                      </li>
                   </ul>
                   <div class="dropdown-content hidden" id="DropdownProfile">
                   <ul>
                      <li><a href="#"><strong>Admin</strong></a></li>
                      <li><a class="" href="#"> Profile </a></li>
                      <li><a class="" href="#"> Logout</a></li>            
                   </ul>

                   </div>
                </nav>
                </div>
             </header>

          <div class="container">
             <h1>Loan Application: Patience Kavira</h1>
             
             <div class="wrapper applicationXWrapper">
                 <div><strong>Requested amount:</strong><span class="applicationAmount">950 USD</span></div>
                  <div><strong>Description:</strong><br>
                     <div class="applicationDescription">Lorem ipsum dolor sit amet, consectetur 
                        adipisicing elit. Ex neque officiis quam enim beatae non 
                        ducimus aspernatur animi reiciendis harum, exercitationem atque dicta? 
                        Ullam adipisci quibusdam similique quos inventore distinctio?
                     </div>

                   </div>
             </div>
             
             </div>
           


         <footer id="footer-application">
           <p>Code and design: <a href="www.abelmbula.com">Abel</a></p>
         </footer> 

        </main>

 <scrip type="text/javascript" src="../js/main.js"></scrip>
 <script src="../js/data.js"></script>

</body>
</html>