<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Post a loan | Quick Credit</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">   
   <link rel="stylesheet" href="../css/style.css">
</head>
<body>
 <main id="main-application">
    
     <div class="container">
        <header>
           <a href="./adminDash.html"><button class="color-btn" id="usr-dashboard">Dashboard</button></a>
           <a href="../index.html"><button class="color-btn">Sign out</button></a>
      </header>
      <div class="container-title">
         
         <h1>Hello, Admin!</h1>
      </div>
      <div class="container-content">
         <div class="content-title">
            <h2>To post a loan for a client, use the form below</h2>
         </div>
         <div class="content-action">
            <form action="#">
               <div>

               <label for="client">Client</label>  <br>             
               <input type="text" placeholder="Patience Kavira" id="client" required>
            </div>
            <div>
               <label for="amount">Amount</label> <br>              
               <input type="text" placeholder="Amout in USD" id="amount" required>
               <div class="inputError" id="helpAmount"></div>
            </div>
            <div>               
               <label for="comment">Comment</label><br>
               <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Comment here" required></textarea>
               
               <div class="inputError"></div>
            </div>
               
               <input type="submit" value="Post">
                     
            </form>
            <!--div class="usr-sign-out">
               <p>or</p>
               <p><a href="../index.html"><button class="color-btn">Sign out</button></a></p>
            </div-->
         </div>
      </div>
     </div>
     
  </div>
</main>
 <footer id="footer-application">
   <p>Code and design: <a href="www.abelmbula.com">Abel</a></p>
 </footer> 

 <script src="../js/app.js"></script>
 
</body>
</html>