<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Verify client</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">   
   <link rel="stylesheet" href="../css/style.css">
</head>
<body>
      <main id="main-application">
            <!--header>
                <div class="container">
        
                <nav class="navbar" role="navigation">
                  <div><a class="mainHeader_logo" href="../index.html">Quick Credit</a></div>
                   <ul class="navLinks">
                      <li class="navItem" id="activeItem"><a href="#" title="Verify clients">Clients</a></li>
                      <li class="navItem"><a href="#" title="Browse all application">Application</a></li>
                      <li class="navItem"><a href="#" title="Browse all loans">Loans</a></li>
                      <li class="userProfile">
                       <a href=""><img src="../images/avatar.png" alt="borrower"></a> 
                      </li>
                   </ul>
                   <div class="dropdown-content hidden" id="DropdownProfile">
                   <ul>
                      <li><a href="#"><strong>Admin</strong></a></li>
                      <li><a class="" href="#"> Profile </a></li>
                      <li><a class="" href="#"> Logout</a></li>            
                   </ul>
                 
                   </div>
                </nav>
                </div>
             </header-->
             
          <div class="container">
               <header>
                     <a href="./adminDash.html"><button class="color-btn" id="usr-dashboard">Dashboard</button></a>
                     <a href="../index.html"><button class="color-btn">Sign out</button></a>
                </header>
                <div class="container-title">
                     <h1>Verify Client</h1>
                     <div id="verifyTip"><small><em>
                           Tip: Mark the client as verified if both home and work address are confirmed
                        </em></small></div>
                     </div>
             
             <div class="clientsWrapper">
                  <div class="clientImage">
                     <img src="../images/avatar.png" alt="avatar">
                  </div>
                  <div class="clientDetailsBackground">
                     <div class="clientDetails">
                        <div>
                           <span>Full name: Patience Kavira</span>
                           <span>Home: kdkslfdl</span>
                           <span>Work: kdkslfdl</span>
                        </div>
                        <div>
                           <span>Status: verified</span>
                           <span>Phone: 0825454545</span>
                           <span>Email: patikav@gmail.com</span>
                        </div>
                     </div>
                     <div class="checkClient">
                        <button>Verify</button>
                        <button>Block</button>
                     </div>
                  </div>
             </div>
             <div class="clientsWrapper">
                  <div class="clientImage">
                     <img src="../images/avatar.png" alt="avatar">
                  </div>
                  <div class="clientDetailsBackground">
                     <div class="clientDetails">
                        <div>
                           <span>Full name: Patience Kavira</span>
                           <span>Home: kdkslfdl</span>
                           <span>Work: kdkslfdl</span>
                        </div>
                        <div>
                           <span>Status: verified</span>
                           <span>Phone: 0825454545</span>
                           <span>Email: patikav@gmail.com</span>
                        </div>
                     </div>
                     <div class="checkClient">
                        <button>Verify</button>
                        <button>Block</button>
                     </div>
                  </div>
             </div>
             <div class="clientsWrapper">
                  <div class="clientImage">
                     <img src="../images/avatar.png" alt="avatar">
                  </div>
                  <div class="clientDetailsBackground">
                     <div class="clientDetails">
                        <div>
                           <span>Full name: Patience Kavira</span>
                           <span>Home: kdkslfdl</span>
                           <span>Work: kdkslfdl</span>
                        </div>
                        <div>
                           <span>Status: verified</span>
                           <span>Phone: 0825454545</span>
                           <span>Email: patikav@gmail.com</span>
                        </div>
                     </div>
                     <div class="checkClient">
                        <button>Verify</button>
                        <button>Block</button>
                     </div>
                  </div>
             </div>
             <div class="clientsWrapper">
                  <div class="clientImage">
                     <img src="../images/avatar.png" alt="avatar">
                  </div>
                  <div class="clientDetailsBackground">
                     <div class="clientDetails">
                        <div>
                           <span>Full name: Patience Kavira</span>
                           <span>Home: kdkslfdl</span>
                           <span>Work: kdkslfdl</span>
                        </div>
                        <div>
                           <span>Status: verified</span>
                           <span>Phone: 0825454545</span>
                           <span>Email: patikav@gmail.com</span>
                        </div>
                     </div>
                     <div class="checkClient">
                        <button>Verify</button>
                        <button>Block</button>
                     </div>
                  </div>
             </div>
           <!--<table>
               <thead>
                   <th>Client</th>
                   <th>Home Address</th>
                   <th>Work Address</th>
                   <th>Status</th>
               </thead>
               <tbody id="clientsList">
                   <!tr>
                    <td>Xjfdjkj</td> 
                    <td>Xjfdjkj</td> 
                    <td>Xjfdjkj</td> 
                    <td>Xjfdjkj</td> 
                   </tr>
                   <tr>
                    <td>Xjfdjkj</td> 
                    <td>Xjfdjkj</td> 
                    <td>Xjfdjkj</td> 
                    <td>Xjfdjkj</td> 
                   </tr>
                   <tr>
                    <td>Xjfdjkj</td> 
                    <td>Xjfdjkj</td> 
                    <td>Xjfdjkj</td>
                    <td>Xjfdjkj</td>  
                   </tr>
               </tbody>
           </table>-->
        </div>
        
         <footer id="footer-application">
           <p>Code and design: <a href="www.abelmbula.com">Abel</a></p>
         </footer> 
        
        </main>

<script src="../js/data.js"></script>
 
</body>
</html>