body, html {
   height: 100%;
   margin: 0;
   padding: 0;
   font-family: 'Helvitica', sans-serif;
   font-weight: 400;
   font-size: 1rem;
   background: #fafafa;
}

* {
    outline: none !important;
}

.container{
    display: block;
    position: relative;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    height: 100% !important;
}

/*body {
 
   height: 100vh;
   /*margin: -20px 0 50px;
   font-family: "Montserrat",sans-serif;
   font-weight: 400;
   font-size: 1rem;
   background: #fafafa;
   
   
}
*/
/* -------------------------------
            Navbar
---------------------------------*/
header {
   margin: auto;
   max-width: 1280px;
   /*width: 100%;*/
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navLinks {
   display: flex;
  /* flex-direction: row-reverse;*/
   list-style: none;
}

.navItem {
   padding: 10px 15px;
   text-transform: uppercase;
}

.sign {
   border: 1px solid #7451eb;
   border-radius: 4px;
}

.sign:first-child {
   margin-right: 16px;
   background-color: #7451eb;
   
}

.sign:first-child a {
   color: #fff;
}

.sign:last-child {   
   background-color: #fff;   
}

.sign:last-child:focus {
   background-color: rgba(116,81,235,0.24);
}

header a, #applyBtn a {
   text-decoration: none;
   list-style: none;
}

.callToAction {
   
   background-color: #7451eb;
   /*background: url(images/finance.jpg) no-repeat center center; */
   height: 400px;
   background-size: cover;
   min-height: 100%;
   /*min-width: 100%;*/
   width: 100%;
   /*display: flex;*/
   
}

span span {
   background-color: rgb(0, 54, 104);
   box-shadow: rgb(0, 54, 104) 16px 0px 0px, rgb(0, 54, 104) -16px 0px 0px;
   /*color: rgb(255, 255, 255);*/
}

.callToAction img {
   width: 368px;
   height: 290px;
}

.callToAction_wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   color: #fff;
   /*align-items: center;*/
   /*text-align: center;*/
   max-width: 50%;
   margin: 0 auto;
   padding-top: 20px;
   padding-bottom: 20px;
   
}

#applyBtn a {
   border: 1px solid #fff;
   border-radius: 4px;
   background-color: #fff;
   text-transform: uppercase;
   padding: 10px 15px;
   margin-top: 25px;
   margin-bottom: 25px;
}

#applyBtn {
 
   margin-top: 30px;
   margin-bottom: 25px;
}



/*---------------------------------------
       FORM
---------------------------------------*/
h1, h4 {
   color: #7451eb;
}

.form-container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   /*padding: 0 50px;*/
   height: 100%;
   /*background: #FFFFFF;*/
   /*margin: 0;*/
   /*margin: -20px 0 50px;*/
}

input, select, textarea {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

input[type="submit"] {
   background: #7451eb;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #FFFFFF;
   width: 100%;
   border-radius: 5px;
   border: 1px solid #7451eb;
   letter-spacing: 1px;
   transition: transform 80ms ease-in;
   font-weight: bold;
}

.inputError {
   color: red;
}

/* -------------------------------
            Footer
---------------------------------*/
footer {
   background: #fafafa;
   /*color: #ffffff;*/
   display: flex;
   justify-content: center;
   position: fixed;
   bottom: 0;
   width: 100%;
}

/* -------------------------------
            Application
---------------------------------*/
#main-application {
   /*background: #fafafa;*/
}

#footer-application {
   background-color: #7451eb;
   color: #fff;
}
.dropdown-content {
   display: none;
   position: absolute;
   left: 0;
   top: 35px;
   margin: -1px 0 0 0;
   padding: 0;
   max-width: 400px;
   min-width: 150px;
}

.userProfile img {
   border-radius: 50%;
   width: 40px;
   height: 40px;
   -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
   box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
   border: none;
}


/*-----------------------------
      Loan application View
-----------------------------*/
.applicationDescription {
   margin-top: 10px;
   padding: 8px;
   line-height: 28px;
   width: 45%;
   border: #7451eb 2px solid;
   border-radius: 2px;
}

.applicationXWrapper div:first-child {
   display: flex;
   justify-content: space-between;
   width: 45%;
   margin-bottom: 15px;
}

#application-aproval {
   display: flex;
   justify-content: space-between;
   width: 45%;
   margin-top: 15px;
}

.approval {
   width: 90px;
   color: #FFFFFF;
}

.approval:last-of-type {
   background: red;
   border-color: red;
   
}

.approval:first-of-type {
   background: green;
   border-color: green;
}

/*----------------------------
Verify
-----------------------------*/
#verifyTip {
   margin-bottom: 20px;
  /* border: #7451eb 2px solid;*/
}

.clientsWrapper {
   display: flex;
   margin-bottom: 20px;
}

.clientDetailsBackground {
   background: #7451eb;
   padding: 10px;
   color: #FFFFFF;
}

.clientImage img {
   border-radius: 50%;
   width: 100px;
   height: 100px;
   margin-right: 15px;
}

.clientDetails {
   display: flex;
   
}

.clientDetails div {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.checkClient {
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
}

#activeItem {
   border-bottom: red solid 3px;
   
}

/* Filter loans */
caption {
   background-color:hsla(113, 46%, 91%, 1);
}

.money {
   text-align: right;
}

.rowColor {
   background-color:hsla(113, 46%, 91%, .8);
}

/* Post Loan */
.form-bloc {
   width: 100%;
margin: auto;
padding: 24px;
max-width: 760px;
background: #fff;
border-radius: 2px;
color: rgba(0, 0, 0, 0.92);
/*border: 2px solid red;*/
}

.form-title {
   font-size: 1rem;
font-family: Montserrat;
font-weight: 700;
line-height: 1.625rem;
margin-bottom: 16px;
}

.form-content {
   font-size: .875rem;
   position: relative;
   color: rgba(0,0,0,.92);
}

.left-hand, .right-hand {
   width: 50%;
   float: left;
   padding-left: 16px;
   margin-bottom: 18px;
}

/*.right-hand {
   width: 50%;
   float: right;
   padding-left: 16px;
}
*/
.input {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.92);*/
   margin: 0;
   margin-left: 0;
}

/*.input input {
   max-width: inherit;
   width: 100%;
   line-height: 1.625rem;
margin-bottom: 1px;
border-radius: 0;

border-bottom: 1px solid rgba(0, 0, 0, 0.92);
}*/

#fNameL {
   max-width: inherit;
   width: 100%;
   line-height: 1.625rem;
margin-bottom: 1px;
border-radius: 0;
border-bottom: 1px solid rgba(0, 0, 0, 0.92);
padding: 0 !important;
background: #fff;
}